body{
    margin:0;
    padding:0;
    background-color: rgb(25, 232, 17);    
}
#countdown{
    display: flex;
    justify-content: center;
    padding:10%;
    color:rgb(230, 57, 18) ;
    text-align: center;
    text-transform: capitalize;
    font-size: 500%;
}